<h1>Editing Book</h1>

<%= form_with model: @book, local:true do |f| %>

 <div>
   <label>Title</label>
   <div class= "field"><%= f.text_field :title %></div>
 </div>

 <div>
   <label>Body</label>
   <div class= "field"><%= f.text_area :body %></div>
 </div>

 <div class= "field"> <%= f.submit 'Update Book' %></div>

 <div class= "frield">
  <span><%= link_to "Show", edit_book_path(@book.id) %></span>
  <span>｜</span>
  <span><%= link_to "Back", books_path %></span>
 </div>

<% end %>
